body {
    background-color: #9CAF88;
    font-family: Arial, Helvetica, sans-serif;
}

#orchidList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 20px;
    gap: 30px;
}

.orchidPlant {
    border: 3px solid #8A6240;
    margin-bottom: 20px;
    background-color: #e8f5e9;
    padding: 20px;
    text-align: center;
}

.orchidPlant img{
    max-width: 250px;
    height: auto;
}

.orchidPlant h2{
    color: #724A24
}

h1 {
    color: #502B0F;
    text-align: center;
}



